html {
    box-sizing: border-box;
}
body {
    margin: 0;
    background: linear-gradient(230.54deg, #F52A2A 3.07%, #491BA9 76.29%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button {
    cursor: pointer;
    outline: none;
    height: 55px;
    font-size: 18px;
    font-family: monospace, sans-serif;
    color: black;
    background-color: white;
    border: none;
    font-weight: 600;
    border-radius: 60px;
    padding: 15px 45px;
    transition: 200ms;
}
button:hover {
    filter: brightness(95%);
}
button:active {
    transform: scale(0.98);
}
button:disabled {
    cursor: default;
    filter: brightness(80%);
}